

@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

body {
    font-family: 'Bebas Neue', sans-serif;
}

/* Header*/

header {
   
    display: flex;
    justify-content: center;
    flex-direction: column;
}



.title {
font-size: 90px;
margin: 0 auto;
margin-top: 21px;
}

.subheading{
    color: #4E4E4E;
    font-size: 44px;
    margin: 0 auto;
}