

@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

@font-face {
font-family: 'Futura';
font-style: normal;
font-weight: normal;
src: local('Futura-Medium'), url('Futura-medium.woff') format('woff');
}

body {
    font-family: 'Bebas Neue', sans-serif;
}

/* Header*/

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.title {
font-size: 90px;
margin: 0 auto;
margin-top: 21px;
}

.subheading{
    color: #4E4E4E;
    font-size: 44px;
    margin: 0 auto;
}


/* Nav menu bar*/

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-top: 30px;
}

li:first-of-type {
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: #4E4E4E;
    font-size: 22px;
    margin-right: 60px;
}

.line {
  display: inline-block;
  width: 477px;
  height: 1px;
  background-color: #979797;
  margin-right: 50px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Search box - NEED TO MAKE RESPONSIVE */

input[type="search"] {
    float: right;
    border-radius: 40px;
    border-color: #979797;
    border-width: 2px;
    color: #CCCCCC;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial;
    text-indent: 30px;
    margin-bottom: 0;
    margin-right: 60px;
    width: 250px;

}

.search-container {
    position: relative;
    margin-top: 20px;

}

 .icon {
  position: absolute;
  top: 90%;
  z-index: 1;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 20px;
}

.fa-search {
    color: #979797;
}

/* Main content */

main {
     margin-top: 90px;
}

.my-row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}


.card {
    width: 600px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
}

.thumbnail{
    width: 50%;
    height: 100%;
}

.tag, .byline, .reading-time {
    font-size: 10px;
    color: #B0B0B0;
    font-family: 'Futura', Helvetica;
    margin: 0;
}

 .byline, .reading-time {
    text-align: center;
}



h3 {
    font-size: 26px;
    color: #4E4E4E;
    margin-bottom: 0;
}

h4 {
    font-size: 16px;
    color: #979797;
    font-family: 'Futura', Helvetica;
}

.text {
    width: 45%;
    float: right;
    padding: 8px;
}

.right {
    float: right;
}

/* PAGINATION */

.center {
    text-align: center;
    margin-top: 60px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    font-size: 26px;
    color: #AEAEAE;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 4px;
}

.pagination a.active {
    color: #000000;
}

.older {
margin-right: 370px !important;
}

.newer {
margin-left: 370px !important;
}

/* FOOTER */

footer {
    background-color: #000000;
}

.flex-grid {
  display: flex;
}
.col {
  flex: 1;
}

.footer-title-container {
    margin-top: 90px;
    margin-left: 200px;
}

#footer-title {
    color: #FFFFFF;
    font-size: 90px;
    margin-bottom: 0;
    line-height: 50%;
}

#footer-subtitle {
    color: #AEAEAE;
    font-size: 44px;
    margin-bottom: 0;
}

#copyright {
    margin-top: 70px;
    font-family: 'Futura', Helvetica;
    font-size: 12px;
    color: #FFFFFF;
}