

@font-face {
font-family: 'Bebas Neue';
font-style: normal;
font-weight: normal;
src: local('Bebas Neue'), url('BebasNeue.woff') format('woff');
}

@font-face {
font-family: 'Futura';
font-style: normal;
font-weight: normal;
src: local('Futura-Medium'), url('Futura-medium.woff') format('woff');
}

body {
    font-family: 'Bebas Neue', sans-serif;
}

/* Header*/

header {
    display: flex;
    justify-content: center;
    flex-direction: column;

}


.title {
font-size: 90px;
margin: 0 auto;
margin-top: 21px;
}

.subheading{
    color: #4E4E4E;
    font-size: 44px;
    margin: 0 auto;
}


/* Nav menu bar*/

ul {
    list-style-type: none;
}

li {
    float: left;
    margin-top: 30px;
}

li:first-of-type {
    margin-left: 60px;
}

a {
    text-decoration: none;
    color: #4E4E4E;
    font-size: 22px;
    margin-right: 60px;
}

.line {
  display: inline-block;
  width: 477px;
  height: 1px;
  background-color: #979797;
  margin-right: 50px;
}

.menu {
    display: flex;
    width: 1320px;
    align-items: center;
}

/* Search box - NEED TO MAKE RESPONSIVE */

input[type="search"] {
    float: right;
    border-radius: 40px;
    border-color: #979797;
    border-width: 2px;
    color: #CCCCCC;
    font-size: 14px;
    font-family: "Helvetica Neue", Arial;
    text-indent: 30px;
    margin-bottom: 0;
    margin-right: 60px;
    width: 250px;

}

.search-container {
    position: relative;
    margin-top: 20px;

}

 .icon {
  position: absolute;
  top: 90%;
  z-index: 1;
  margin-top: 5px;
  margin-left: 15px;
  margin-right: 20px;
}

.fa-search {
    color: #979797;
}

/* Main content */

.container {
    margin-top: 90px;
}

.card {
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.preview {
    width: 50%;
}

.tag, .byline, .reading-time {
    font-size: 10px;
    color: #B0B0B0;
    font-family: 'Futura', Helvetica;
}

h3 {
    font-size: 26px;
    color: #4E4E4E;
}

h4 {
    font-size: 16px;
    color: #979797;
    font-family: 'Futura', Helvetica;
}

.text {
    width: 50%;
    float: right;
}
